:root {
  --max-width: 1700px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary:#ffffff;
  --secondary: #2D2E36;
  --grey1: #E3E1E3;
  --grey2: #888888;
  --grey3: #4F4F4F;
  --black1:#2D2E36;
  --black2: #1B1A21;
  --black3:#2A2D3A;
  --black4:#24252D;

}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #24252D;
    --secondary: #ffffff;
  }
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.gradient{
  background: linear-gradient(101.12deg, #064663 27.35%, #4d194d 99.99%);
}
.rgradient{
  background: linear-gradient(101.12deg, #4d194d 27.35%, #064663 99.99%);
}
.flexBetween{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.flexStart{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
}

.flexStartCenter{
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.flexBetweenStart{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}
 
.flexCenterStart{
  display:flex;
  justify-content:center;
  align-items:center;
}
