@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400,500,700,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.text-color{
  @apply dark:text-white text-w-black-1;
}
.bg-color{
  @apply dark:bg-w-black-2 bg-white
}
.border-color{
  @apply dark:border-w-black-1 border-w-grey-1
}
.buy {
  background-color:#90EE90 
}
.buycolor{
  color:#258625
}
.sellcolor{
  color:#ff0000
}
.width60{
  width:60%;
}

.gradient{
  background: linear-gradient(101.12deg, #064663 27.35%, #4d194d 99.99%);
}
.rgradient{
  background: linear-gradient(101.12deg, #4d194d 27.35%, #064663 99.99%);
}


button:hover{
  background: linear-gradient(101.12deg, #064663 27.35%, #4d194d 99.99%);
  background-size:  200% 200%;
  animation: gradient-animation .5s ease-in-out forwards;
}

@keyframes gradient-animation{
  0% {
    background-position: 57%;
  }
  100% {
    
    background-position: 100%;
  }
}

.white-bg{
  background:rgba(255,255,255,0.2)
}

.nav-h{
  height:calc(100vh - 66px);
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}
/* Hide scrollbar for IE edge firefox */
.no-scrollbar{
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: auto; 
}
.checkbox{
  opacity:0;
  position:absolute;
}
.label{
  transform: scale(1.5);
}
.ball{
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}

/* Target the element after the label */
.checkbox:checked+.label .ball{
  transform:translateX(16px);
  background-color:white;
}
.fa-moon{
  color:pink;
  font-size: 10px;
}
.fa-sun{
  color:#f1c40f;  
  font-size: 10px;
}

.flexCenter{
  display:flex;
  justify-content:center;
  align-items:center;
}

.flexBetween{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.flexStart{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
}

.flexStartCenter{
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.flexBetweenStart{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}
 
.flexCenterStart{
  display:flex;
  justify-content:center;
  align-items:center;
}


.animated{
  -webkit-animation-duration: 1s;
  animation-duration: 1s ;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms ;
}
.fadeIn{
  --webkit-animation: fadeIn;
  animation-name: fadeIn;
  animation-duration:0.7s
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
